.one{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}
.two{
    position: absolute;
    top: 35px;
    left: 40px;
    z-index: 2;
}
.three{
    position: absolute;
    top: 70px;
    left: 80px;
    z-index: 3;
}
.four{
    position: absolute;
    top: 105px;
    left: 120px;
    z-index: 4;
}
.five{
    position: absolute;
    top: 140px;
    left: 160px;
    z-index: 5;
}