.gn{
    font-family: 'Caveat', cursive;
    font-weight: bolder;
    text-decoration: underline;
    text-indent: 25px;
}

.hat{
        text-align: right;
}

.mail{
    font-family: 'Caveat', cursive;
    text-indent: 25px;
}
